.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.joke-card {
  border: 1px solid black;
  width: 50%;
  margin: 20px auto;
}

.joke-card:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

.logout{
  cursor: pointer;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
